<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://cdn.discordapp.com/attachments/739204855763042386/758922908276883506/pngocean.com_1.png" type="image/x-icon">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Ups...</title>
</head>
<body>
    <div class="error" style="text-align: center;">
        <!-- #Imagen -->
        <img src="/images/House_Error.png" width="500" height="500">
        <!-- #Texto -->
        <h1 class="title"><strong> Te perdiste y encontraste esta casa abandonada... </strong></h1>
        <h2 class="subtitle"> Te dejamos un boton para regresar a MelphiHouse </h2>
        <!-- #Boton -->
        <a href="/" class="Pagina-inicial"><strong> Regresar </strong></a>
        <h3></h3>
        <!-- Esto es una buena idea? xd -->
    </div>
</body>
</html>